
.App-link {
  color: #61dafb;
  margin-bottom: 20px;

}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
}
} */

/* #wrap{
  width: 600px;
  margin: 0 auto;
  
}
#left{
  float: left;
  width: 300px;
  margin-right: -100px;
  
}
#right{
  float:right;
  width: 300px;
} */









